<div class="container my-5">
  <h2 class="text-center mb-4">Nos catégories 🐾</h2>
  <div class="row g-4">
    <% @categories.each do |category| %>
      <div class="col-md-6">
        <div class="card h-100 shadow-sm">
          <%= image_tag category.image, class: "card-img-top", alt: category.name %>
          <div class="card-body text-center">
            <h5 class="card-title"><%= category.name %></h5>
            <p class="card-text"><%= category.description %></p>
            <%= link_to "Voir la catégorie", "#", class: "btn btn-mauve" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

